In [38]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from datetime import datetime
%matplotlib inline 

jj_data = pd.read_csv('도로교통공단_제주도 개별 교통사고 상세정보_20171231.csv', sep=',', encoding='cp949')
jj_data

,발생일,발생시간,요일,발생지_시도,발생지_시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,가해자차종,가해자성별,가해자연령,가해자신체상해정도,피해차종,피해자성별,피해자연령,피해자신체상해정도
0,2017-01-01,0,일,제주,제주시,경상,0,0,1,0,...,교차로,교차로부근,승용차,남,34세,상해없음,승용차,남,21세,경상
1,2017-01-01,3,일,제주,제주시,경상,0,0,3,0,...,단일로,기타단일로,승용차,남,26세,경상,없음,없음,불명,없음
2,2017-01-01,8,일,제주,제주시,경상,0,0,1,0,...,단일로,기타단일로,승용차,남,59세,상해없음,보행자,남,21세,경상
3,2017-01-01,10,일,제주,제주시,경상,0,0,1,0,...,교차로,교차로부근,화물차,남,64세,상해없음,승용차,남,53세,경상
4,2017-01-01,10,일,제주,제주시,경상,0,0,1,0,...,교차로,교차로내,승용차,남,67세,상해없음,화물차,남,62세,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4373,2017-12-30,22,토,제주,제주시,경상,0,0,2,1,...,교차로,교차로부근,승용차,남,41세,상해없음,승용차,남,45세,경상
4374,2017-12-31,7,일,제주,제주시,사망,1,0,0,0,...,단일로,기타단일로,승용차,남,59세,상해없음,보행자,남,37세,사망
4375,2017-12-31,15,일,제주,서귀포시,경상,0,0,3,0,...,단일로,기타단일로,승용차,남,56세,상해없음,승용차,남,31세,경상
4376,2017-12-31,17,일,제주,제주시,중상,0,1,0,0,...,교차로,교차로내,승용차,남,72세,상해없음,이륜차,남,52세,중상
4377,2017-12-31,18,일,제주,제주시,경상,0,0,2,0,...,교차로,교차로횡단보도내,승용차,남,49세,상해없음,보행자,여,47세,경상

In [39]:
jj_data.columns

Index(['발생일', '발생시간', '요일', '발생지_시도', '발생지_시군구', '사고내용', '사망자수', '중상자수',
       '경상자수', '부상신고자수', '사고유형_대분류', '사고유형_중분류', '사고유형', '가해자법규위반', '노면상태_대분류',
       '노면상태', '기상상태', '도로형태_대분류', '도로형태', '가해자차종', '가해자성별', '가해자연령',
       '가해자신체상해정도', '피해차종', '피해자성별', '피해자연령', '피해자신체상해정도'],
      dtype='object')

In [40]:
jj_data.rename(columns={'가해자성별':'가해성별','피해자차종':'피해차종',},inplace=True)

In [41]:
jj_data.head()

,발생일,발생시간,요일,발생지_시도,발생지_시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,가해자차종,가해성별,가해자연령,가해자신체상해정도,피해차종,피해자성별,피해자연령,피해자신체상해정도
0,2017-01-01,0,일,제주,제주시,경상,0,0,1,0,...,교차로,교차로부근,승용차,남,34세,상해없음,승용차,남,21세,경상
1,2017-01-01,3,일,제주,제주시,경상,0,0,3,0,...,단일로,기타단일로,승용차,남,26세,경상,없음,없음,불명,없음
2,2017-01-01,8,일,제주,제주시,경상,0,0,1,0,...,단일로,기타단일로,승용차,남,59세,상해없음,보행자,남,21세,경상
3,2017-01-01,10,일,제주,제주시,경상,0,0,1,0,...,교차로,교차로부근,화물차,남,64세,상해없음,승용차,남,53세,경상
4,2017-01-01,10,일,제주,제주시,경상,0,0,1,0,...,교차로,교차로내,승용차,남,67세,상해없음,화물차,남,62세,경상

In [42]:
# 발생시간을 00:00꼴의 형태로 변환하기 위해서, 계속 고민하고 있었는데, 천사같은 민정님 덕분에 쉽게 해결하였습니다. 넘넘 고마워용^^
# (발생일_시간, 발생일_시간_시군구 칼럼에 추가해야 하잖아요!)
jj_data['발생시간'] = [f"{i:#02d}:00" for i in list(jj_data['발생시간'])]

In [43]:
jj_data['발생일']=[str(i) for i in jj_data['발생일']]
jj_data['발생일_시간'] = jj_data['발생일']+" "+ jj_data['발생시간'].astype(str)
jj_data['발생일_시간_시군구'] = jj_data['발생일']+" "+jj_data['발생시간'].astype(str)+" "+jj_data['발생지_시군구']
jj_data['사고건수'] = [1 for i in jj_data['발생일']]
jj_data['발생일'] = pd.to_datetime(jj_data['발생일'], format='%Y-%m-%d')
jj_data['발생년도'] = jj_data['발생일'].dt.year
jj_data['발생월'] = jj_data['발생일'].dt.month
jj_data['발생일자'] = jj_data['발생일'].dt.day
jj_data['부상자수'] = jj_data['사망자수']+jj_data['중상자수']+jj_data['경상자수']+jj_data['부상신고자수']

jj_data.head()

,발생일,발생시간,요일,발생지_시도,발생지_시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,피해자성별,피해자연령,피해자신체상해정도,발생일_시간,발생일_시간_시군구,사고건수,발생년도,발생월,발생일자,부상자수
0,2017-01-01,00:00,일,제주,제주시,경상,0,0,1,0,...,남,21세,경상,2017-01-01 00:00,2017-01-01 00:00 제주시,1,2017,1,1,1
1,2017-01-01,03:00,일,제주,제주시,경상,0,0,3,0,...,없음,불명,없음,2017-01-01 03:00,2017-01-01 03:00 제주시,1,2017,1,1,3
2,2017-01-01,08:00,일,제주,제주시,경상,0,0,1,0,...,남,21세,경상,2017-01-01 08:00,2017-01-01 08:00 제주시,1,2017,1,1,1
3,2017-01-01,10:00,일,제주,제주시,경상,0,0,1,0,...,남,53세,경상,2017-01-01 10:00,2017-01-01 10:00 제주시,1,2017,1,1,1
4,2017-01-01,10:00,일,제주,제주시,경상,0,0,1,0,...,남,62세,경상,2017-01-01 10:00,2017-01-01 10:00 제주시,1,2017,1,1,1

In [44]:
new_data1 = jj_data.groupby(['발생일_시간', '요일', '발생년도','발생월','발생일자']).sum()[['사망자수', '중상자수', '부상신고자수', '사고건수', '부상자수', '경상자수']]
new_data1 = new_data1.reset_index(drop=False) 
new_data1 = new_data1.reindex(columns = ['발생일_시간','사고건수', '발생년도', '발생월', '발생일자', '요일','부상자수','사망자수', '중상자수', '경상자수','부상신고자수'])
new_data1

,발생일_시간,사고건수,발생년도,발생월,발생일자,요일,부상자수,사망자수,중상자수,경상자수,부상신고자수
0,2017-01-01 00:00,1,2017,1,1,일,1,0,0,1,0
1,2017-01-01 03:00,1,2017,1,1,일,3,0,0,3,0
2,2017-01-01 08:00,1,2017,1,1,일,1,0,0,1,0
3,2017-01-01 10:00,2,2017,1,1,일,2,0,0,2,0
4,2017-01-01 11:00,1,2017,1,1,일,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
3244,2017-12-30 22:00,1,2017,12,30,토,3,0,0,2,1
3245,2017-12-31 07:00,1,2017,12,31,일,1,1,0,0,0
3246,2017-12-31 15:00,1,2017,12,31,일,3,0,0,3,0
3247,2017-12-31 17:00,1,2017,12,31,일,1,0,1,0,0
3248,2017-12-31 18:00,1,2017,12,31,일,2,0,0,2,0

In [45]:
  from sklearn.model_selection import KFold
  from sklearn.model_selection import cross_val_score
  from sklearn.metrics import mean_squared_error
  from sklearn.metrics import r2_score
  from sklearn.ensemble import RandomForestRegressor
  from sklearn.linear_model import LinearRegression
  import matplotlib.pyplot as plt
  import numpy as np

  def data_split(data, feature_names):

    X_train = data[(data['발생년도']<2018)][feature_names]
    X_test = data[(data['발생년도']==2018)][feature_names]
    y_train = data[(data['발생년도']<2018)]['사고건수']
    y_test = data[(data['발생년도']==2018)]['사고건수']
    y_test= y_test.reset_index(drop=True)

    return X_train, X_test, y_train, y_test

  def data_split1(data1, data2, feature_names):

    X_train = data1[feature_names]
    X_test = data2[feature_names]
    y_train = data1['사고건수']
    y_test = data2['사고건수']
    y_test= y_test.reset_index(drop=True)

    return X_train, X_test, y_train, y_test

  


  def forest_fit():

    forest = RandomForestRegressor(n_estimators=100, 
                                criterion='mse', 
                                random_state=1, 
                                n_jobs=-1)
    forest.fit(X_train, y_train)
    y_train_pred = forest.predict(X_train)
    y_test_pred = forest.predict(X_test)

    print('훈련 MSE: %.3f, 테스트 MSE: %.3f' % (
      mean_squared_error(y_train, y_train_pred),
      mean_squared_error(y_test, y_test_pred)))
    print('훈련 R^2: %.3f, 테스트 R^2: %.3f' % (
          r2_score(y_train, y_train_pred),
          r2_score(y_test, y_test_pred)))

    plt.style.use('fivethirtyeight')
    plt.figure(figsize=(30, 10))
    plt.plot(y_test[:300], label = 'real')
    plt.plot(y_test_pred[:300], label = 'pred')
    plt.legend(fontsize = 20)
    plt.show()

    k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

    scores = cross_val_score(estimator=forest,
                         X=X_train,
                         y=y_train,
                         cv=10,
                         n_jobs=1)
    print('CV 정확도 점수: %s' % scores)
    print('CV 정확도: %.3f +/- %.3f' % (np.mean(scores), np.std(scores)))


  def LR_fit():

    LR = LinearRegression()

    LR.fit(X_train, y_train)
    y_train_pred = LR.predict(X_train)
    y_test_pred = LR.predict(X_test)

    print('훈련 MSE: %.3f, 테스트 MSE: %.3f' % (
      mean_squared_error(y_train, y_train_pred),
      mean_squared_error(y_test, y_test_pred)))
    print('훈련 R^2: %.3f, 테스트 R^2: %.3f' % (
          r2_score(y_train, y_train_pred),
          r2_score(y_test, y_test_pred)))

    plt.style.use('fivethirtyeight')
    plt.figure(figsize=(30, 10))
    plt.plot(y_test[:300], label = 'real')
    plt.plot(y_test_pred[:300], label = 'pred')
    plt.legend(fontsize = 20)
    plt.show()

    k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

    scores = cross_val_score(estimator=LR,
                         X=X_train,
                         y=y_train,
                         cv=10,
                         n_jobs=1)
    print('CV 정확도 점수: %s' % scores)
    print('CV 정확도: %.3f +/- %.3f' % (np.mean(scores), np.std(scores)))    

  
  def LR_log_fit():
    LR = LinearRegression()

    y_train_log = np.log1p(y_train)
    y_test_log = np.log1p(y_test)
    LR.fit(X_train, y_train_log)
    y_train_pred = LR.predict(X_train)
    y_test_pred = LR.predict(X_test)
    

    print('훈련 MSE: %.3f, 테스트 MSE: %.3f' % (
      mean_squared_error(np.exp(y_train_log),np.exp(y_train_pred)),
      mean_squared_error(np.exp(y_test_log),np.exp(y_test_pred))))
    print('훈련 R^2: %.3f, 테스트 R^2: %.3f' % (
          r2_score(np.exp(y_train_log),np.exp(y_train_pred)),
          r2_score(np.exp(y_test_log),np.exp(y_test_pred))))

    plt.style.use('fivethirtyeight')
    plt.figure(figsize=(30, 10))
    plt.plot(y_test[:300], label = 'real')
    plt.plot(np.exp(y_test_pred)[:300], label = 'pred')
    plt.legend(fontsize = 20)
    plt.show()

    k_fold = KFold(n_splits=10, shuffle=True, random_state=0)
    
    scores = cross_val_score(estimator=LR,
                         X=X_train,
                         y=y_train,
                         cv=10,
                         n_jobs=1)
    print('CV 정확도 점수: %s' % scores)
    print('CV 정확도: %.3f +/- %.3f' % (np.mean(scores), np.std(scores)))

In [46]:
#연령 데이터 전처리 (불명은 0세 처리, 정수형으로 변환하기 위해서 뒤에 '세'라는 글자 빼는 작업을 하겠습니다.)
def age_to_num(df):
    for c, i in enumerate(df):
        if i in ['불명','없음']:
            df[c] = '0세'
    df = [int(i[:-1]) for i in df]
    return df

In [47]:
# 가해자, 피해자 연령에 각각 함수를 적용시키겠습니다.

jj_data['가해자연령'] = age_to_num(jj_data['가해자연령']) 
jj_data['피해자연령'] = age_to_num(jj_data['피해자연령'])

<ipython-input-46-06e099a23670>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c] = '0세'

In [48]:
#시간 데이터 전처리 (뒤에 :00이라는 글자를 빼고, 정수형으로 변환시키는 작업을 해주겠습니다.)
jj_data['발생시간'] = [int(i[:-3]) for i in jj_data['발생시간']]

In [49]:
# 전처리가 잘 되어있는지 확인해보는 작업입니다~!
jj_data.head()

,발생일,발생시간,요일,발생지_시도,발생지_시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,피해자성별,피해자연령,피해자신체상해정도,발생일_시간,발생일_시간_시군구,사고건수,발생년도,발생월,발생일자,부상자수
0,2017-01-01,0,일,제주,제주시,경상,0,0,1,0,...,남,21,경상,2017-01-01 00:00,2017-01-01 00:00 제주시,1,2017,1,1,1
1,2017-01-01,3,일,제주,제주시,경상,0,0,3,0,...,없음,0,없음,2017-01-01 03:00,2017-01-01 03:00 제주시,1,2017,1,1,3
2,2017-01-01,8,일,제주,제주시,경상,0,0,1,0,...,남,21,경상,2017-01-01 08:00,2017-01-01 08:00 제주시,1,2017,1,1,1
3,2017-01-01,10,일,제주,제주시,경상,0,0,1,0,...,남,53,경상,2017-01-01 10:00,2017-01-01 10:00 제주시,1,2017,1,1,1
4,2017-01-01,10,일,제주,제주시,경상,0,0,1,0,...,남,62,경상,2017-01-01 10:00,2017-01-01 10:00 제주시,1,2017,1,1,1

In [50]:
# 결측치가 없는 것을 확인하실 수 있을겁니다~!!! 야호!! 소리질러~~~
jj_data.isna().sum()

발생일           0
발생시간          0
요일            0
발생지_시도        0
발생지_시군구       0
사고내용          0
사망자수          0
중상자수          0
경상자수          0
부상신고자수        0
사고유형_대분류      0
사고유형_중분류      0
사고유형          0
가해자법규위반       0
노면상태_대분류      0
노면상태          0
기상상태          0
도로형태_대분류      0
도로형태          0
가해자차종         0
가해성별          0
가해자연령         0
가해자신체상해정도     0
피해차종          0
피해자성별         0
피해자연령         0
피해자신체상해정도     0
발생일_시간        0
발생일_시간_시군구    0
사고건수          0
발생년도          0
발생월           0
발생일자          0
부상자수          0
dtype: int64

In [51]:
# 정수형 데이터로 변환하기 위해 변수들의 데이터 타입을 한번 살펴보도록 하겠습니다.
jj_data.dtypes

발생일           datetime64[ns]
발생시간                   int64
요일                    object
발생지_시도                object
발생지_시군구               object
사고내용                  object
사망자수                   int64
중상자수                   int64
경상자수                   int64
부상신고자수                 int64
사고유형_대분류              object
사고유형_중분류              object
사고유형                  object
가해자법규위반               object
노면상태_대분류              object
노면상태                  object
기상상태                  object
도로형태_대분류              object
도로형태                  object
가해자차종                 object
가해성별                  object
가해자연령                  int64
가해자신체상해정도             object
피해차종                  object
피해자성별                 object
피해자연령                  int64
피해자신체상해정도             object
발생일_시간                object
발생일_시간_시군구            object
사고건수                   int64
발생년도                   int64
발생월                    int64
발생일자                   int64
부상자수                   int64
dtype: object

In [52]:
new_data2 = jj_data.copy()

In [54]:
# 정수형 데이터로 변환하는 작업을 해드리겠습니다~!~!~!~

for i in ['요일', '발생지_시군구', '사고내용', '사고유형_대분류', '사고유형_중분류', '사고유형', '가해자법규위반', '노면상태_대분류', '노면상태', '기상상태', '도로형태_대분류', '도로형태', '가해자차종', '가해성별', '가해자신체상해정도', '피해차종', '피해자성별', '피해자신체상해정도']:
  mapping = {label: idx for idx, label in enumerate(np.unique(jj_data[i]))}
  print(mapping)
  new_data2[i] = jj_data[i].map(mapping)

{'금': 0, '목': 1, '수': 2, '월': 3, '일': 4, '토': 5, '화': 6}
{'서귀포시': 0, '제주시': 1}
{'경상': 0, '부상신고': 1, '사망': 2, '중상': 3}
{'차대사람': 0, '차대차': 1, '차량단독': 2}
{'공작물충돌': 0, '기타': 1, '길가장자리구역통행중': 2, '도로이탈': 3, '보도통행중': 4, '전도': 5, '전도전복': 6, '전복': 7, '정면충돌': 8, '차도통행중': 9, '추돌': 10, '측면충돌': 11, '횡단중': 12, '후진중충돌': 13}
{'공작물충돌': 0, '기타': 1, '길가장자리구역통행중': 2, '도로이탈 기타': 3, '도로이탈 추락': 4, '보도통행중': 5, '전도': 6, '전도전복': 7, '전복': 8, '정면충돌': 9, '차도통행중': 10, '추돌': 11, '측면충돌': 12, '횡단중': 13, '후진중충돌': 14}
{'과속': 0, '교차로 통행방법 위반': 1, '기타': 2, '보행자 보호의무 위반': 3, '신호위반': 4, '안전거리 미확보': 5, '안전운전 의무 불이행': 6, '중앙선 침범': 7}
{'비포장': 0, '포장': 1}
{'건조': 0, '기타': 1, '서리/결빙': 2, '적설': 3, '젖음/습기': 4}
{'기타/불명': 0, '눈': 1, '맑음': 2, '비': 3, '안개': 4, '흐림': 5}
{'교차로': 0, '기타': 1, '단일로': 2, '불명': 3, '주차장': 4}
{'고가도로위': 0, '교량위': 1, '교차로내': 2, '교차로부근': 3, '교차로횡단보도내': 4, '기타': 5, '기타단일로': 6, '불명': 7, '주차장': 8, '지하차도(도로)내': 9}
{'개인형이동수단(PM)': 0, '건설기계': 1, '기타': 2, '농기계': 3, '불명': 4, '사륜오토바이(ATV)': 5, '승용차': 6, '승합차': 7, '원동기장치자전거': 8, '이륜차': 9, '자전거': 10, '특수차': 11, '화물차': 12}
{'기타불명': 0, '남': 1, '여': 2}
{'경상': 0, '기타불명': 1, '부상신고': 2, '사망': 3, '상해없음': 4, '중상': 5}
{'개인형이동수단(PM)': 0, '건설기계': 1, '기타': 2, '농기계': 3, '보행자': 4, '불명': 5, '사륜오토바이(ATV)': 6, '승용차': 7, '승합차': 8, '없음': 9, '원동기장치자전거': 10, '이륜차': 11, '자전거': 12, '특수차': 13, '화물차': 14}
{'기타불명': 0, '남': 1, '없음': 2, '여': 3}
{'경상': 0, '기타불명': 1, '부상신고': 2, '사망': 3, '상해없음': 4, '없음': 5, '중상': 6}

In [55]:
new_data2.head()

,발생일,발생시간,요일,발생지_시도,발생지_시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,피해자성별,피해자연령,피해자신체상해정도,발생일_시간,발생일_시간_시군구,사고건수,발생년도,발생월,발생일자,부상자수
0,2017-01-01,0,4,제주,1,0,0,0,1,0,...,1,21,0,2017-01-01 00:00,2017-01-01 00:00 제주시,1,2017,1,1,1
1,2017-01-01,3,4,제주,1,0,0,0,3,0,...,2,0,5,2017-01-01 03:00,2017-01-01 03:00 제주시,1,2017,1,1,3
2,2017-01-01,8,4,제주,1,0,0,0,1,0,...,1,21,0,2017-01-01 08:00,2017-01-01 08:00 제주시,1,2017,1,1,1
3,2017-01-01,10,4,제주,1,0,0,0,1,0,...,1,53,0,2017-01-01 10:00,2017-01-01 10:00 제주시,1,2017,1,1,1
4,2017-01-01,10,4,제주,1,0,0,0,1,0,...,1,62,0,2017-01-01 10:00,2017-01-01 10:00 제주시,1,2017,1,1,1

In [56]:
mean_data = new_data2.groupby(['발생지_시군구','발생년도']).mean()
mean_data['사고건수'] = new_data2.groupby(['발생지_시군구','발생년도'])['사고건수'].sum() #사고건수만 sum
mean_data = mean_data.reset_index(drop=False)
mean_data

,발생지_시군구,발생년도,발생시간,요일,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형_대분류,...,가해자연령,가해자신체상해정도,피해차종,피해자성별,피해자연령,피해자신체상해정도,사고건수,발생월,발생일자,부상자수
0,0,2017,13.684484,3.101707,1.156644,0.023014,0.399406,0.985895,0.153675,0.922049,...,46.770601,3.234595,7.858946,1.710468,42.319970,2.585004,1347,6.676318,15.858946,1.561990
1,1,2017,13.667766,2.966678,0.950181,0.016166,0.320026,0.995711,0.178489,0.806664,...,44.445398,3.313098,7.259650,1.722204,41.798746,2.225998,3031,6.557572,15.639393,1.510393

In [60]:
mean_data.to_csv('제주도 교통사고 건수 평균 데이터(17).csv', encoding='utf-8-sig')

In [58]:
feature_names = ['발생시간','요일', '발생년도', '발생월', '발생일자', '노면상태_대분류', '노면상태', '기상상태', '도로형태', '도로형태_대분류']
#사고내용, 부상자수, 사고유형, 가해자/피해자 신상은 사고 이후에 얻을 수 있는 정보니까 빼고 해야지 맞지 않을까요
#cctv로 운전자들의 신상을 얻을 순 있긴 하지만 이 데이터는 쉽게 얻을 수 있는게 아니니까
#시간정보, 기상, 노면, 도로형태를 사용하는 것이 맞는 것 같습니당
#그리고 개인적인 생각인데 지역별 사고건수를 예측하는 모델이니까 각 구별 가로등, 유동인구, 거주인구 등 이런 데이터를 추가해야하지 않을까유
#10000000000% 개인적인 생각입니다 .. ㅎ (저도 동의하는 부분입니다!!)

In [61]:
sum_data = new_data2.groupby(['발생지_시군구','발생년도']).sum()
sum_data = sum_data.reset_index(drop=False)
sum_data

,발생지_시군구,발생년도,발생시간,요일,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형_대분류,...,가해자연령,가해자신체상해정도,피해차종,피해자성별,피해자연령,피해자신체상해정도,사고건수,발생월,발생일자,부상자수
0,0,2017,18433,4178,1558,31,538,1328,207,1242,...,63000,4357,10586,2304,57005,3482,1347,8993,21362,2104
1,1,2017,41427,8992,2880,49,970,3018,541,2445,...,134714,10042,22004,5220,126692,6747,3031,19876,47403,4578

In [62]:
sum_data.to_csv('제주도 교통사고 건수 합 데이터(17).csv', encoding='utf-8-sig')

In [64]:
col = ['사고내용', '사망자수', '중상자수', '경상자수','부상신고자수', '사고유형_대분류', '사고유형_중분류', '사고유형', '가해자법규위반', '노면상태_대분류', '노면상태','기상상태',
       '도로형태_대분류', '도로형태', '가해자차종', '가해성별', '가해자연령', '가해자신체상해정도', '피해차종', '피해자성별', '피해자연령', '피해자신체상해정도',  '사고건수','부상자수']
group_data = new_data2.groupby(['요일', '발생년도','발생월','발생일자','발생시간','발생지_시군구']).sum()[col]
group_data = group_data.reset_index(drop=False)
group_data

,요일,발생년도,발생월,발생일자,발생시간,발생지_시군구,사고내용,사망자수,중상자수,경상자수,...,가해자차종,가해성별,가해자연령,가해자신체상해정도,피해차종,피해자성별,피해자연령,피해자신체상해정도,사고건수,부상자수
0,0,2017,1,6,8,1,0,0,0,1,...,5,2,75,0,7,3,47,4,1,1
1,0,2017,1,6,13,1,0,0,0,2,...,4,0,0,1,12,3,28,0,1,2
2,0,2017,1,6,16,1,0,0,0,2,...,7,1,39,4,7,1,64,0,1,2
3,0,2017,1,6,18,1,3,0,1,0,...,6,2,51,4,4,1,61,6,1,1
4,0,2017,1,6,19,1,0,0,0,1,...,6,2,26,4,7,3,50,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3679,6,2017,12,26,16,1,0,0,0,1,...,6,1,70,4,14,3,35,4,1,1
3680,6,2017,12,26,17,0,0,0,0,1,...,6,2,64,4,4,3,53,0,1,1
3681,6,2017,12,26,18,1,0,0,0,2,...,6,2,29,4,11,1,35,0,1,2
3682,6,2017,12,26,19,1,3,0,1,0,...,9,1,24,5,7,3,47,4,1,1
3683,6,2017,12,26,20,1,0,0,0,1,...,6,1,27,4,14,3,39,0,1,1

In [65]:
group_data.to_csv('제주도 교통사고 건수 시간별 데이터(17).csv', encoding='utf-8-sig')

In [66]:
X_train, X_test, y_train, y_test = data_split(group_data, feature_names)
forest_fit()

ValueError: Found array with 0 sample(s) (shape=(0, 10)) while a minimum of 1 is required.